.App {
  background-image: linear-gradient(to right top, #300537, #45005f, #52008e, #5100c3, #2b00ff);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: fantasy;
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}